.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px  rgba(0, 0, 0, 0.1) inset 0 0 25px #7e57c2;
    z-index: 2;
}

.JokeList-title {
    font-size: 180%;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px  rgba(0, 0, 0, 0.1)
}

.JokeList-sidebar img:hover {
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 100%;
    animation-delay: 0s;
}

.JokeList-jokes {
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px  rgba(0, 0, 0, 0.1)
}

.JokeList-spinner {
    color: white;
    text-align: center;
}

.JokeList-getmore {
    font-size: 100%;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: white;
    font-weight: 700;
    margin: 2rem;
    border: none;
    cursor: pointer;
    transition: .8s cubic-bezier(0.2, 1, 0.2, 1);
    word-spacing: 1rem;
    outline: none;
    background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px  rgba(0, 0, 0, 0.1)
}

.JokeList-getmore:hover {
    transform: translateY(-2px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25)
}

@keyframes shake {
    0%  {transform:     translate(2px, 1px) rotate(0deg); }
    10% {transform:     translate(-1px, -2px) rotate(-2deg); }
    20% {transform:     translate(-3px, 0px) rotate(3deg); }
    30% {transform:     translate(0px, 2px) rotate(0deg); }
    40% {transform:     translate(1px, -1px) rotate(1deg); }
    50% {transform:     translate(-1px, 2px) rotate(-1deg); }
    60% {transform:     translate(-3px, 1px) rotate(0deg); }
    70% {transform:     translate(2px, 1px) rotate(-2deg); }
    80% {transform:     translate(-1px, -1px) rotate(4deg); }
    90% {transform:     translate(2px, 2px) rotate(0deg); }
    100%{transform:     translate(1px, -2px) rotate(-1deg); }
   }
  